button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  /* text-transform: uppercase; */
  cursor: pointer;
  color: white;
  background-color: var(--bg-color);
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}
button:hover {
  background: var(--bg-hover-color)
    radial-gradient(circle, transparent 1%, var(--bg-hover-color) 1%)
    center/15000%;
}
button:active {
  background-color: var(--bg-active-color);
  background-size: 100%;
  transition: background 0s;
}
